{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <style>
    .btn1{
        margin-right: 50px
      }
      .btn2{
        margin-right: 5px
      }
  </style>
</head>

  <div class="container mt-4">
     <div class="row mt-3">
   
        <div class="col-md-10">
         <nav aria-label="breadcrumb ">
           <ol class="breadcrumb" >
            <li class="breadcrumb-item"><a href="#">Budget</a></li>
            <li class="breadcrumb-item active" aria-current="page">Budget</li>
           </ol>
         </nav> 
        </div>
        <div class="col-md-2">
         <a href="{% url 'add-budget' %}" class="btn btn-outline-primary  " data-mdb-ripple-color="dark">Add Budget</a>
        </div>
    </div>
  </div>

 <div class="container mt-3">
    {% include 'partials/messages.html' %}
    {% if budget.count %}
    <div class="row">
      <div class="col-md-8">
        <a href="{% url 'exportbudget-excel'%}" class="btn1 btn btn-outline-dark btn-sm " data-mdb-ripple-color="dark">Export Excel</a>
        <a href="{% url 'exportbudget-csv'%}" class="btn1 btn btn-outline-dark btn-sm " data-mdb-ripple-color="dark">Export CSV</a>
        <a href="{% url 'exportbudget-pdf'%}" class="btn1 btn btn-outline-dark btn-sm " data-mdb-ripple-color="dark">Export PDF</a>
      </div>
      <div class="col-md-4">
       
        <div class="form-group">
          <input type="text" class="form-control"placeholder="Search" id="searchField">
        </div>
      </div>
    
    
    </div><br>
    <div class="app-table">
      <table class="table table-stripped table-hover">
        <th>
          <tr>
            <th>Amount({{currency}})</th>
            <th>from_date</th>
            <th>to_date</th>
            <th>Category</th>
            <th>Name</th>
            <th></th>
          </tr>
        </th>
        <tbody>
          {% for budget in page_obj %}
          <tr>
            <td>{{budget.amount}}</td>
            <td>{{budget.from_date}}</td>
            <td>{{budget.to_date}}</td>
            <td>{{budget.category}}</td>
            <td>{{budget.Name}}</td>

            <td><a href="{% url 'edit-budget' budget.id %}"class="btn2 btn btn-warning btn-sm " data-mdb-ripple-color="dark">Edit</a>
              <a href="{% url 'delete-budget' budget.id %}" class="btn btn-danger btn-sm " data-mdb-ripple-color="dark">X</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="table-output">
      <table class="table table-stripped table-hover">
        <th>
          <tr>
            <th>Amount({{currency}})</th>
            <th>from_date</th>
            <th>to_date</th>
            <th>Category</th>
            <th>Name</th>
            <th></th>
          </tr>
        </th>
        <tbody class="table-body"></tbody>
      </table>



    </div>
    <div class="pagination-container">
    <div class="row">
      <div class="col-md-9">
      Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </div>
    <div class="col-md-3">
    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">first</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
      {% endif %}

      
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last </a>
      {% endif %}
  </span>{% endif %}
 </div>
    </div> 
   </div>
    
<script src="{% static 'js/searchbudget.js' %}">

</script>

{% endblock %}