
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget PDF</title>
</head>
<style>
    @page{
        size: "A4";
        margin:2.5cm,1.5cm,3.5cm,1.5cm;

        @top-center{
            content: "MACK EXPENSES";
        }
        
        @bottom-right {
            content:"Page" counter(page)"of" counter pages;
        }
    }
</style>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2CxQkf63QCg4ReoaWrZG2r21bv-J3u09QvjDmg7gOwQ&s" alt="..">
    <h2>Income list</h2>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>No</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Source</th>
                <th>Date</th>
            </tr>

        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{income.amount}}</td>
                <td>{{income.description}}</td>
                <td>{{income.source}}</td>
                <td>{{income.date}}</td>
               
            </tr>
            {% endfor %}
         <br>  <tr>
            <td> Total</td>
            <td>{{total}}</td>
           </tr>
        </tbody>
    </table>
</body>
</html>