{% extends 'base.html' %}
{% block content %} 


<div class="container mt-4">
  <div class="row">
      <div class="col-md-11">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="{% url 'home' %}">Expenses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                <li class="breadcrumb-item active" aria-current="page">Set New Password</li>
              </ol>
            </nav>
      </div>
      <div class="row mt-3">
        <h5>Set New Password</h5>
        </div>
     <hr/>
<div class="card">


<div class="card-body">


<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group py-3 ">
      <input type="submit" value="Save"  class="  btn btn-primary   btn btn-primary submit-btn">
</div>
  </form>
</div>
</div>


</div>


{% endblock %}